@font-face {
	font-family: 'SF Pro Display';
	src: url(../../assets/fonts/SFProDisplay-Regular.woff2) format('woff2'),
	url(../../assets/fonts/SFProDisplay-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}